@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../../assets/fonts/iransans-x/IRANSansX-Thin.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../../assets/fonts/iransans-x/IRANSansX-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../assets/fonts/iransans-x/IRANSansX-Light.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../assets/fonts/iransans-x/IRANSansX-Regular.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../assets/fonts/iransans-x/IRANSansX-Medium.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../assets/fonts/iransans-x/IRANSansX-DemiBold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../assets/fonts/iransans-x/IRANSansX-Bold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../assets/fonts/iransans-x/IRANSansX-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../assets/fonts/iransans-x/IRANSansX-Black.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 950;
  font-display: swap;
  src: url('../../assets/fonts/iransans-x/IRANSansX-ExtraBlack.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 1000;
  font-display: swap;
  src: url('../../assets/fonts/iransans-x/IRANSansX-Heavy.woff2') format('woff2');
}
